body{
    background-color: paleturquoise;
    color: aliceblue;
    
}
.bg-color{
    background-color: indigo;
    padding: 2rem;
    text-align: center;
}

.intro{
    background-color: indigo;
    padding: 2rem;
    margin: auto;
}

.skills{
    background-color: darkviolet;
    padding: auto;

}
.skills-head{
    text-align: center;
    padding: 1rem;
}
li{
    border: 2px solid indigo;
    padding: 2rem;
    margin: 2rem;
}
.skills-list, a{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
    color: aliceblue;
}

/* .foo{} */
.email{border: 2px solid indigo;}
.profile__social {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    column-gap: .75rem;
    padding: .75rem;
  }
  
